$main-color: #0047ab;

.member_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Adjust the height as needed

  .member_box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .title {
      text-align: center;
      color: $main-color;
      font-size: 18px;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;

      .form_box {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        label {
          margin-right: 10px;
          width: 40px;
          font-size: 14px;
        }

        input {
          flex: 1;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;

          &:focus {
            outline: none;
            border-color: $main-color;
          }
        }
      }

      .submit_box {
        text-align: center;

        button {
          width: 100%;
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          background-color: $main-color;
          color: white;
          text-align: center;
          cursor: pointer;

          &:hover {
            background-color: darken($main-color, 10%);
          }
        }
      }
    }
  }
}
