<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles/common.css">
    <link rel="stylesheet" type="text/css" href="<%= pageStylesheet %>">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="<%=js%>"></script>
</head>
<body>
<%- include('./header.ejs') %>